/* start sitemap */
body.sitemap {
    background-image:url('images/qnaBg2.jpg');
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
    font: 14px "Arial", Tahoma, sans-serif;
    min-height: 100%;
}
.sitemap h1 {
font-size: 40px;
margin-bottom: 100px;
margin-top: 20%;
}
.sitemap div.footerinfo {
    margin-top: 16px;
    color: #666;
    font-size: 12px;
    text-align: right;
}
.sitemap div.footerinfo * {
    font-size: 12px;
}
.sitemap .sitemap {
    margin: 5em 0
}

.sitemap .primaryNav {
    clear: both;
    width: 100%;
    margin-top: 3em 0
}

.sitemap .primaryNav #home {
    position: absolute;
    margin-top: -3em;
    margin-bottom: 0;
    min-width: 14.5em;
    width: 100%
}

.sitemap .primaryNav #home:before {
    display: none
}

.sitemap .primaryNav #home.long-cell:before {
    display: block;
    position: absolute;
    border-width: 0;
    border-color: #ccc;
    border-style: solid;
    z-index: -1;
    border-left-width: 2px;
    border-top-width: 2px;
    top: 1.375em
}

@media screen and (max-width:1111px) {
    .sitemap .primaryNav #home.long-cell:before {
        left: -40px;
        box-shadow: -10px 0 0 0 #fff
    }
}

.sitemap .primaryNav #home img {
    float: left;
    margin-right: 4px
}

.sitemap .primaryNav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    padding-inline-start: 40px
}

.sitemap .primaryNav li {
    flex: 1;
    flex-basis: 14.5em;
    padding-right: 1.25em;
    position: relative;
    min-width: 14.5em
}

.sitemap .primaryNav li ul li {
    min-width: 12.5em
}

.sitemap .primaryNav li ul li ul li {
    min-width: 10.5em
}

.sitemap .primaryNav>ul>li {
    margin-top: 3em
}

.sitemap .primaryNav li a {
margin: 0;
padding: .875em .9375em .9375em .9375em;
display: block;
font-size: .9375em;
background: #fff;
border: 1px solid #ccc;
border-radius: 3px;
box-shadow: 0 3px 3px #666;
text-decoration: none;
color: black;
}

.sitemap .primaryNav li a:hover {
    box-shadow: 0 3px 3px 1px #666
}

.sitemap .primaryNav a:link:after,
.sitemap .primaryNav a:visited:after,
.sitemap .utilityNav a:link:after,
.sitemap .utilityNav a:visited:after {
    display: block;
    font-weight: 600;
    font-size: .75em;
    margin-top: .25em;
    word-wrap: break-word;
    color: #666
}

.sitemap .primaryNav ul ul {
    display: block
}

.sitemap .primaryNav ul ul li {
    padding-top: .9875em;
    padding-right: 0
}

.sitemap .primaryNav ul ul li:first-child {
    padding-top: 2em
}

.sitemap .primaryNav ul ul ul {
    margin-top: .6em;
    padding-top: .6em;
    padding-bottom: .625em
}

.sitemap .primaryNav ul ul ul li {
    padding-top: .3125em;
    padding-bottom: .3125em
}

.sitemap .primaryNav ul ul ul li a {
    font-size: .75em;
    padding: .75em;
    min-width: 90%;
    width: auto;
    margin-right: 0;
    margin-left: auto
}

.sitemap .primaryNav ul ul ul li:first-child {
    padding-top: 1em
}

.sitemap .primaryNav ul ul ul li a:link:after,
.sitemap .primaryNav ul ul ul li a:visited:after {
    font-size: .75em
}

.sitemap .primaryNav ul ul ul ul {
    margin-top: 0;
    padding-top: .3125em;
    padding-bottom: .3125em
}

.sitemap .primaryNav ul ul ul ul li a {
    padding: .75em;
    min-width: 80%;
    width: auto
}

.sitemap .primaryNav ul ul ul ul li a:link:after,
.sitemap .primaryNav ul ul ul ul li a:visited:after {
    display: none
}

.sitemap .primaryNav ul li:after,
.sitemap .primaryNav ul li:before,
.sitemap .primaryNav ul:after,
.sitemap .primaryNav ul:before {
    display: block;
    content: '';
    position: absolute;
    border-width: 0;
    border-color: #ccc;
    border-style: solid;
    z-index: -2
}

.sitemap .primaryNav>ul>li:before {
    height: 1.375em;
    top: -1.375em;
    right: calc(50% + .625em);
    width: calc(100% - 2px);
    border-top-width: 2px;
    border-right-width: 2px
}

.sitemap .primaryNav>ul>li:first-child+li:before {
    border-top-width: 0;
    height: 5em;
    top: -5em
}

.sitemap .primaryNav ul ul li:after {
    width: 50%;
    height: .9875em;
    top: 0;
    right: 1px;
    border-left-width: 2px
}

.sitemap .primaryNav ul ul li:first-child:before {
    width: 50%;
    height: 1.3125em;
    top: .9875em;
    right: 1px;
    border-left-width: 2px
}

.sitemap .primaryNav>ul>li:last-child:after {
    border-bottom-width: 0
}

.sitemap .primaryNav ul ul ul li:before {
    width: calc(50% - 5px) !important;
    height: calc(100% - 2px);
    top: -50%;
    left: 0;
    border-left-width: 2px;
    border-bottom-width: 2px
}

.sitemap .primaryNav ul ul ul li:first-child:before {
    height: 2.125em;
    top: -1px;
    border-top-width: 2px
}

.sitemap .primaryNav ul ul ul:before {
    width: 50%;
    height: 1.25em;
    top: -10px;
    right: 1px;
    border-left-width: 2px
}

.sitemap .primaryNav ul ul ul li:after {
    border-width: 0
}

.sitemap .primaryNav ul ul ul ul li:before,
.sitemap .primaryNav ul ul ul ul li:first-child:before {
    display: none
}

.sitemap .primaryNav ul ul ul ul:before {
    width: 1px;
    height: calc(100% + 2.5em);
    top: -2.5em;
    left: 0;
    border-left-width: 2px
}

@media screen and (max-width:30em) {
    .sitemap .primaryNav ul {
        display: block
    }

    .sitemap .primaryNav li {
        width: 100%;
        padding-right: 0
    }

    .sitemap .primaryNav #home {
        width: 100%;
        position: relative;
        margin-bottom: -1em;
        margin-top: 0
    }
}

@media screen and (min-width:30em) {
    .sitemap .primaryNav>ul>li {
        max-width: 50%
    }
}

@media screen and (min-width:38.5em) {
    .sitemap .primaryNav>ul>li {
        max-width: 33%
    }
}

@media screen and (min-width:50em) {
    .sitemap .primaryNav>ul>li {
        max-width: 25%
    }
}

@media screen and (min-width:61em) {
    .sitemap .primaryNav>ul>li {
        max-width: 20%
    }
}

@media screen and (min-width:73em) {
    .sitemap .primaryNav>ul>li {
        max-width: 16.66%
    }
}

@media screen and (min-width:84.5em) {
    .sitemap .primaryNav>ul>li {
        max-width: 14.285%
    }
}

@media screen and (min-width:96em) {
    .sitemap .primaryNav>ul>li {
        max-width: 12.5%
    }
}

@media screen and (min-width:107.5em) {
    .sitemap .primaryNav>ul>li {
        max-width: 11.11%
    }
}

@media screen and (min-width:119em) {
    .sitemap .primaryNav>ul>li {
        max-width: 10%
    }
}

.sitemap a[href$="#"] {
    cursor: default;
    color: #333
}

.sitemap .collapsed_item {
    display: none !important;
    cursor: pointer !important
}

.sitemap .expand_items a {
    color: #333 !important;
    text-align: center;
    cursor: pointer !important
}

.sitemap a[href$="#"]:not(.collapsed_item, .expand_items a):before {
    content: "#"
}

@media (max-width:575px){
    .sitemap h1 {
        margin-bottom: -15%;
        margin-top: 5%;
    }
    body.sitemap {
        padding: 20px;
    }
}
@media (min-width:576) and (max-width:767px){
    .sitemap h1 {
        margin-bottom: 10%;
        margin-top: 10%;
    }
}
/* end sitemap */